body{
    font-family: 'Manjari', sans-serif;
    background-image: url('https://thumbs.gfycat.com/NextSourHapuka-size_restricted.gif');
    background-size:cover;
    color:white;
}
h1{
    text-align: center;
    font-size: 50px;

}
.profile{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center
}
.right{
    font-size: 30px;

}